{% load static %}
{% include 'private/header.html' %}

<form action="" method="post">
    {% csrf_token %}
    <!-- Form fields go here -->
    <div class="form-group">
        <label for="username">Nuevo nombre del usuario:</label>
        <input type="text" name="username_edit" value="{{usuario.username}}" class="form-control" required placeholder="usuario">
    </div>
    <div class="form-group">
        <label for="email">Nuevo Correo electronico: </label>
        <input type="email" name="email_edit" value="{{usuario.email}}" class="form-control" required placeholder="email">
    </div>
    <div class="form-group">
        <label for="password">Nuevo Password: </label>
        <input type="password" name="password_edit" class="form-control" required placeholder="password">
    </div>
    <button class="btn btn-success">GUARDAD</button>
    <a href="{% url 'listar_usuarios' %}" class="btn btn-danger">CANCELAR</a>
</form>

{% include 'private/footer.html' %}