{% load static %}      
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
            </span>
          </div>
        </div>

        <div class="container my-auto py-2">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - distributed by
              <b><a href="https://themewagon.com/" target="_blank">themewagon</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="border-radius: 10px;">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="logoutModalLabel" style="color: #2c3e50;">¿Listo para salir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Selecciona "Cerrar Sesión" si estás listo para finalizar tu sesión de trabajo actual en el sistema.
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary" type="button" data-dismiss="modal" style="border-radius: 6px;">Cancelar</button>
          
          <!-- Formulario POST seguro para el Logout -->
          <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="border-radius: 6px;">Cerrar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'private/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'private/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'private/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'private/js/ruang-admin.min.js' %}"></script>
  <script src="{% static 'private/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'private/js/demo/chart-area-demo.js' %}"></script>  
</body>

</html>