{% load static %}
{% include 'private/header.html' %}

<div class="container mt-4">
    <h2>Crear Nueva Área</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="" method="post" class="mt-3">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <label for="nombre_area">Nombre del la Zona</label>
            <input type="text" name="nombre_area" id="nombre_area" class="form-control" required placeholder="Ej: Bodega Central, Pasillo 4">
        </div>

        <div class="form-group mb-3">
            <label for="capacidad_maxima">Capacidad (Unidades)</label>
            <input type="number" name="capacidad_maxima" id="capacidad_maxima" class="form-control" required placeholder="Ej: 500">
        </div>

        <div class="form-group mb-3">
            <label for="seccion_fila">Coordenadas del área</label>
            <input type="text" name="seccion_fila" id="seccion_fila" class="form-control" required placeholder="Ej: Estantería 12 - Fila B">
        </div>

        <div class="form-group mb-3">
            <label for="estado_espacio">Estado</label>
            <select name="estado_espacio" id="estado_espacio" class="form-control" required>
                <option value="disponible" selected>Disponible</option>
                <option value="lleno">no esta libre</option>
                <option value="mantenimiento">En Mantenimiento</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">crear</button>
        <a href="{% url 'listar_ubicaciones' %}" class="btn btn-secondary">cancelar</a>
    </form>
</div>

{% include 'private/footer.html' %}